form, h2, p {
    width: 500px;
    margin-left: 300px;
}

.error {
    border-bottom: 2px solid #d20e0e;
}

.msg {
    border: 2px solid #de9e29;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.logout {
    color: #d20e0e;

}

th, td {
    padding: 10px;
}

th {
    color: #ffffff;
    background: #606060;
}

td {
    background: #b5b5b5;

}